@using DistanceLearning.Models
@using System.Linq
@{
    ApplicationDbContext db = new ApplicationDbContext();
    ViewBag.Title = "Home Page";
    @Styles.Render("~/Content/SliderStyles")
}


@*<div class="Layout_Chat">
    <div class="Layout_Chat_Btn">
        <span><i class="fas fa-comments fa-2x"></i></span>
    </div>


    <div class="Layout_Chat_Fixed_Div">
        <div class="container">
            @Html.Action("Index","Chats",null)
            
        </div>
    </div>
</div>*@

<div class="header">
    <div class="container">


        <div class="row">
            <div class="col-lg-6">

                <div class="benefits">


                    <p>
                        <span> <i class="fas fa-check" style="color: greenyellow;"></i> </span> Completly Free
                        Courses
                    </p>
                    <p>
                        <span> <i class="fas fa-check" style="color: greenyellow;"></i> </span> Periodic
                        Exercises
                    </p>
                    <p>
                        <span> <i class="fas fa-check" style="color: greenyellow;"></i> </span> Contact Support
                        at any Time
                    </p>

                    <a href="~/CourseModels/Index"> Start Now </a>

                </div>

            </div>
        </div>
    </div>
</div>

@*<div class="alert alert-primary alert-dismissible fade show" role="alert">
        <strong>Welcome!</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>*@

<div class="join-us">
    <div class="container-fluid">

        <!-- <div class="headertitle">

            <h2> Join Us Now </h2>

        </div> -->



        <div class="row text-center">


            <div class="col-lg-3 col-md-6">
                <div>
                    <span class="fas-item"><i class="fas fa-chalkboard-teacher fa-4x"></i> </span>
                </div>

                <div>
                    <p class="NumOfGraduated"> @db.Users.Where(x => x.UserType == "Instructors").Count() </p>
                </div>

                <div>
                    <h5>
                        Instructors
                    </h5>
                </div>
            </div>


            <div class="col-lg-3 col-md-6">
                <div>
                    <span class="fas-item"><i class="fas fa-cubes fa-4x"></i></span>
                </div>

                <div>
                    <p class="NumOfHours"> @db.Categories.Count() </p>
                </div>

                <div>
                    <h5>
                        Type Of Categories
                    </h5>
                </div>
            </div>


            <div class="col-lg-3 col-md-6">
                <div>
                    <span class="fas-item"> <i class="fas fa-user-graduate fa-4x"></i></span>
                </div>

                <div>
                    <p class="NumOfStudents"> @db.Users.Where(x => x.UserType == "Students").Count() </p>
                </div>

                <div>
                    <h5>
                        Registered Students
                    </h5>
                </div>
            </div>


            <div class="col-lg-3 col-md-6">
                <div>
                    <span class="fas-item"><i class="fas fa-book fa-4x"></i> </span>
                </div>

                <div>
                    <p class="NumOfCourses"> @db.CourseModels.Count() </p>
                </div>

                <div>
                    <h5>
                        Available Courses
                    </h5>
                </div>
            </div>

        </div>
    </div>

</div>



<div class="join-us-2">
    <div class="container">
        <div class="row">

            <div class="col-lg-6">

                <svg width="auto" height="400" viewBox="0 0 650 517" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <g id="stepup 1" clip-path="url(#clip0)">
                        <path id="plant"
                              d="M484.634 510.031C475.641 502.432 470.179 490.428 471.611 478.743C473.044 467.057 481.916 456.314 493.425 453.833C504.933 451.351 518.052 458.221 521.548 469.463C523.471 447.788 525.688 425.206 537.212 406.748C547.646 390.035 565.718 378.076 585.305 375.936C604.891 373.797 625.513 381.877 637.729 397.337C649.944 412.796 652.935 435.271 644.379 453.019C638.077 466.094 626.466 475.824 614.3 483.74C574.989 509.105 527.839 519.42 481.528 512.787"
                              fill="#CBCADB" />
                        <path id="Vector"
                              d="M618.36 382.325C602.199 395.489 587.373 410.211 574.096 426.279C553.318 451.34 536.504 479.438 524.24 509.593C523.342 511.793 526.915 512.751 527.802 510.576C547.868 461.566 579.901 418.37 620.972 384.938C622.816 383.436 620.189 380.836 618.36 382.325Z"
                              fill="white" />
                        <path id="Vector_2"
                              d="M158.838 515.232H107.838C106.114 515.23 104.462 514.544 103.244 513.326C102.025 512.107 101.34 510.455 101.338 508.732V402.732C101.34 401.008 102.025 399.356 103.244 398.138C104.462 396.919 106.114 396.234 107.838 396.232H158.838C160.561 396.234 162.213 396.919 163.432 398.138C164.65 399.356 165.336 401.008 165.338 402.732V508.732C165.336 510.455 164.65 512.107 163.432 513.326C162.213 514.544 160.561 515.23 158.838 515.232Z"
                              fill="#6C63FF" />
                        <path id="line1"
                              d="M522.967 515.732H471.967C470.244 515.73 468.592 515.044 467.373 513.826C466.155 512.607 465.469 510.955 465.467 509.232V34.2316C465.469 32.5083 466.155 30.8562 467.373 29.6376C468.592 28.4191 470.244 27.7336 471.967 27.7316H522.967C524.69 27.7336 526.343 28.4191 527.561 29.6376C528.78 30.8562 529.465 32.5083 529.467 34.2316V509.232C529.465 510.955 528.78 512.607 527.561 513.826C526.343 515.044 524.69 515.73 522.967 515.732Z"
                              fill="#6C63FF" />
                        <path id="line2"
                              d="M401.5 516H350.5C348.777 515.999 347.125 515.544 345.906 514.735C344.687 513.925 344.002 512.829 344 511.684V196.316C344.002 195.171 344.687 194.075 345.906 193.265C347.125 192.456 348.777 192.001 350.5 192H401.5C403.223 192.001 404.875 192.456 406.094 193.265C407.313 194.075 407.998 195.171 408 196.316V511.684C407.998 512.829 407.313 513.925 406.094 514.735C404.875 515.544 403.223 515.999 401.5 516Z"
                              fill="#E3E3E3" />
                        <path id="line2_2"
                              d="M291.195 519H237.805C236.001 518.999 234.271 518.652 232.995 518.035C231.72 517.419 231.002 516.582 231 515.71V275.29C231.002 274.418 231.72 273.581 232.995 272.965C234.271 272.348 236.001 272.001 237.805 272H291.195C292.999 272.001 294.729 272.348 296.005 272.965C297.28 273.581 297.998 274.418 298 275.29V515.71C297.998 516.582 297.28 517.419 296.005 518.035C294.729 518.652 292.999 518.999 291.195 519Z"
                              fill="#E3E3E3" />
                        <path id="Vector_3"
                              d="M205.779 222.358C205.964 220.9 205.827 219.419 205.378 218.019C204.929 216.619 204.178 215.335 203.179 214.257C202.179 213.179 200.956 212.333 199.594 211.779C198.232 211.224 196.766 210.976 195.297 211.05L177.521 178.44L173.521 192.44L185.7 222.326C185.988 224.785 187.167 227.052 189.015 228.699C190.863 230.345 193.25 231.257 195.725 231.261C198.2 231.265 200.591 230.361 202.444 228.72C204.297 227.079 205.484 224.816 205.779 222.358V222.358Z"
                              fill="#A0616A" />
                        <path id="Vector_4"
                              d="M68.816 351.113L78.717 358.342L111.312 323.589L96.698 312.92L68.816 351.113Z"
                              fill="#A0616A" />
                        <path id="Vector_5"
                              d="M91.1011 381.478L59.9812 358.758L68.7591 346.735L87.8554 360.676C91.0443 363.004 93.1777 366.504 93.7864 370.405C94.3951 374.306 93.4292 378.289 91.1011 381.478V381.478L91.1011 381.478Z"
                              fill="#2F2E41" />
                        <path id="Vector_6"
                              d="M121.201 389.377L133.461 389.376L139.293 342.088L121.199 342.089L121.201 389.377Z"
                              fill="#A0616A" />
                        <path id="Vector_7"
                              d="M157.105 400.759L118.575 400.761L118.574 385.874L142.218 385.873C146.166 385.873 149.953 387.441 152.745 390.233C155.537 393.025 157.105 396.811 157.105 400.759V400.759V400.759Z"
                              fill="#2F2E41" />
                        <path id="Vector_8"
                              d="M158.021 204.941C158.021 204.941 164.021 262.941 149.021 302.941L138.021 378.941H119.021L121.021 288.941L114.021 208.941C114.021 208.941 128.021 172.941 158.021 204.941Z"
                              fill="#2F2E41" />
                        <path id="Vector_9"
                              d="M93.021 208.94L113.021 277.94L74.021 339.94L93.521 356.44L138.021 286.94L125.021 201.94L93.021 208.94Z"
                              fill="#2F2E41" />
                        <path id="head"
                              d="M144.025 54.2141C157.59 54.2141 168.586 43.2178 168.586 29.6531C168.586 16.0884 157.59 5.09207 144.025 5.09207C130.46 5.09207 119.464 16.0884 119.464 29.6531C119.464 43.2178 130.46 54.2141 144.025 54.2141Z"
                              fill="#A0616A" />
                        <path id="Vector_10"
                              d="M123.521 63.4405C123.521 63.4405 138.521 53.4405 155.521 75.4405L160.021 213.94C160.021 213.94 147.021 195.94 120.021 212.94C93.0209 229.94 87.0209 210.94 87.0209 210.94C87.0209 210.94 68.0209 67.9405 123.521 63.4405Z"
                              fill="#CCCCCC" />
                        <path id="Vector_11"
                              d="M154.311 75.0913C158.625 75.3245 162.701 77.1448 165.753 80.2019C168.806 83.2591 170.621 87.3372 170.848 91.6516L174.021 151.94L195.021 208.94L183.021 218.94L144.021 150.94L136.036 95.0474C135.67 92.4856 135.877 89.8745 136.641 87.402C137.405 84.9296 138.708 82.6574 140.456 80.7489C142.203 78.8404 144.352 77.3432 146.748 76.3649C149.144 75.3866 151.727 74.9516 154.311 75.0913V75.0913Z"
                              fill="#CCCCCC" />
                        <path id="hear"
                              d="M125.978 48.0764C129.993 52.3535 137.45 50.0574 137.973 44.2143C138.014 43.7606 138.011 43.3041 137.964 42.851C137.694 40.2627 136.199 37.9129 136.557 35.1801C136.638 34.4999 136.891 33.8517 137.293 33.2969C140.493 29.0123 148.004 35.2133 151.023 31.3346C152.875 28.9562 150.699 25.2117 152.12 22.5534C153.995 19.045 159.55 20.7757 163.033 18.8544C166.909 16.7166 166.677 10.7701 164.126 7.15317C161.014 2.74217 155.559 0.388418 150.172 0.0491675C144.784 -0.290082 139.434 1.16626 134.405 3.12632C128.69 5.35332 123.023 8.43113 119.507 13.4559C115.23 19.5667 114.819 27.7819 116.957 34.9272C118.259 39.2738 122.699 44.5836 125.978 48.0764Z"
                              fill="#2F2E41" />
                        <path id="Vector_12"
                              d="M648.485 515.807H1.1907C0.875513 515.806 0.573534 515.68 0.350983 515.457C0.128431 515.234 0.003479 514.932 0.003479 514.617C0.003479 514.301 0.128431 513.999 0.350983 513.776C0.573534 513.553 0.875513 513.427 1.1907 513.426H648.485C648.8 513.427 649.102 513.553 649.324 513.776C649.547 513.999 649.672 514.301 649.672 514.617C649.672 514.932 649.547 515.234 649.324 515.457C649.102 515.68 648.8 515.806 648.485 515.807Z"
                              fill="#3F3D56" />
                    </g>
                    <defs>
                        <clipPath id="clip0">
                            <rect width="649.675" height="516.232" fill="white" />
                        </clipPath>
                    </defs>
                </svg>


            </div>

            <div class="col-lg-6">
                <h1>
                    Take the next step toward your personal and professional goals with us.
                </h1>


            </div>
        </div>
    </div>


</div>




<div class="join-and-note">
    <a href="~/CourseModels/Index" class="btn btn-primary btn-block text-center"> Browse Available Courses </a>
    <div class="container">

        <div class="row">
            <div class="col-lg-6">

                <div class="col-lg-12 ">
                    <svg id="f31880e0-b367-484e-a419-f98cd1dead11" data-name="Layer 1"
                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width=""
                         height="" viewBox="0 0 813.71645 690.72993">
                        <defs>
                            <linearGradient id="a85ba63f-8549-4f69-990e-10de2daaa97e" x1="605.01863" y1="672.36901"
                                            x2="605.01863" y2="468.40702"
                                            gradientTransform="translate(1440.44468 -163.43414) rotate(90)"
                                            gradientUnits="userSpaceOnUse">
                                <stop offset="0" stop-color="gray" stop-opacity="0.25" />
                                <stop offset="0.53514" stop-color="gray" stop-opacity="0.12" />
                                <stop offset="1" stop-color="gray" stop-opacity="0.1" />
                            </linearGradient>
                            <linearGradient id="fdf4694c-a3d1-47e0-8113-61d7fbddb30b" x1="595.38205" y1="777.13196"
                                            x2="595.38205" y2="573.93068" gradientTransform="translate(241.97717 -218.24996)"
                                            xlink:href="#a85ba63f-8549-4f69-990e-10de2daaa97e" />
                            <linearGradient id="ad62446a-526e-4d60-a026-0c607e66ba72" x1="562.28979" y1="792.26091"
                                            x2="562.28979" y2="589.05872" gradientTransform="translate(259.71202 -221.9348)"
                                            xlink:href="#a85ba63f-8549-4f69-990e-10de2daaa97e" />
                            <linearGradient id="a55ec3fc-d644-4cb8-8fe1-ec8babf6d4d9" x1="546.3881" y1="810.62902"
                                            x2="546.3881" y2="607.42676" gradientTransform="translate(266.64986 -228.63804)"
                                            xlink:href="#a85ba63f-8549-4f69-990e-10de2daaa97e" />
                        </defs>
                        <title>Specs</title>
                        <rect x="366.90427" y="121.23237" width="207.97236" height="302.01031" rx="13.4354"
                              transform="translate(-241.61906 6.02203) rotate(-12.75221)" fill="#6c63ff" />
                        <circle cx="163.39917" cy="82.85347" r="6" fill="#fff" />
                        <circle cx="169.39917" cy="104.85347" r="6" fill="#fff" />
                        <circle cx="208.39917" cy="265.85347" r="6" fill="#fff" />
                        <circle cx="214.39917" cy="287.85347" r="6" fill="#fff" />
                        <rect x="404.09082" y="230.09825" width="124.87617" height="20.8127"
                              transform="translate(-234.72207 4.27656) rotate(-12.75221)" fill="#f5f5f5" />
                        <rect x="537.15996" y="198.45637" width="357.57303" height="433.72285"
                              transform="matrix(0.93561, -0.35305, 0.35305, 0.93561, -293.66568, 174.87279)"
                              fill="#3f3d56" />
                        <rect x="646.93708" y="526.29855" width="160.57678" height="6.62172"
                              transform="translate(-333.2898 186.21461) rotate(-20.67386)" fill="#6c63ff" />
                        <rect x="657.65916" y="545.35262" width="263.21348" height="6.62172"
                              transform="translate(-336.02172 209.34485) rotate(-20.67386)" fill="#6c63ff" />
                        <rect x="832.6838" y="473.69836" width="67.87266" height="6.62172"
                              transform="translate(-305.74311 232.04044) rotate(-20.67386)" fill="#6c63ff" />
                        <rect x="656.93527" y="561.24901" width="67.87266" height="6.62172"
                              transform="translate(-347.97 175.63057) rotate(-20.67386)" fill="#6c63ff" />
                        <rect x="748.31621" y="526.76666" width="67.87266" height="6.62172"
                              transform="translate(-329.91161 205.67195) rotate(-20.67386)" fill="#6c63ff" />
                        <rect x="839.69715" y="492.28431" width="67.87266" height="6.62172"
                              transform="translate(-311.85323 235.71334) rotate(-20.67386)" fill="#6c63ff" />
                        <rect x="589.5276" y="308.19599" width="198.65169" height="72.83895"
                              transform="translate(-270.44901 160.75479) rotate(-20.67386)" fill="#6c63ff" />
                        <g opacity="0.5">
                            <rect x="726.39917" y="191.85347" width="3" height="17" fill="#47e6b1" />
                            <rect x="919.54095" y="296.48851" width="3" height="17"
                                  transform="translate(1032.88769 -720.68748) rotate(90)" fill="#47e6b1" />
                        </g>
                        <g opacity="0.5">
                            <rect x="194.39917" y="390.85347" width="3" height="17" fill="#47e6b1" />
                            <rect x="387.54095" y="495.48851" width="3" height="17"
                                  transform="translate(699.88769 10.31252) rotate(90)" fill="#47e6b1" />
                        </g>
                        <g opacity="0.5">
                            <rect x="316.39917" y="511.85347" width="3" height="17" fill="#47e6b1" />
                            <rect x="509.54095" y="616.48851" width="3" height="17"
                                  transform="translate(942.88769 9.31252) rotate(90)" fill="#47e6b1" />
                        </g>
                        <path d="M947.74872,687.78326a3.6746,3.6746,0,0,1-2.04748-4.441,1.76645,1.76645,0,0,0,.0799-.40754h0a1.84257,1.84257,0,0,0-3.31045-1.22119h0a1.7659,1.7659,0,0,0-.2039.3618,3.67459,3.67459,0,0,1-4.441,2.04749,1.76655,1.76655,0,0,0-.40755-.07991h0a1.84257,1.84257,0,0,0-1.22119,3.31045h0a1.76684,1.76684,0,0,0,.3618.2039,3.67458,3.67458,0,0,1,2.04749,4.441,1.76592,1.76592,0,0,0-.0799.40754h0a1.84258,1.84258,0,0,0,3.31045,1.22119h0a1.76637,1.76637,0,0,0,.2039-.3618,3.67459,3.67459,0,0,1,4.441-2.04749,1.766,1.766,0,0,0,.40754.07991h0a1.84258,1.84258,0,0,0,1.22119-3.31045h0A1.76606,1.76606,0,0,0,947.74872,687.78326Z"
                              transform="translate(-193.14177 -104.63504)" fill="#4d8af0" opacity="0.5" />
                        <path d="M871.74872,788.78326a3.6746,3.6746,0,0,1-2.04748-4.441,1.76645,1.76645,0,0,0,.0799-.40754h0a1.84257,1.84257,0,0,0-3.31045-1.22119h0a1.7659,1.7659,0,0,0-.2039.3618,3.67459,3.67459,0,0,1-4.441,2.04749,1.76655,1.76655,0,0,0-.40755-.07991h0a1.84257,1.84257,0,0,0-1.22119,3.31045h0a1.76684,1.76684,0,0,0,.3618.2039,3.67458,3.67458,0,0,1,2.04749,4.441,1.76592,1.76592,0,0,0-.0799.40754h0a1.84258,1.84258,0,0,0,3.31045,1.22119h0a1.76637,1.76637,0,0,0,.2039-.3618,3.67459,3.67459,0,0,1,4.441-2.04749,1.766,1.766,0,0,0,.40754.07991h0a1.84258,1.84258,0,0,0,1.22119-3.31045h0A1.76606,1.76606,0,0,0,871.74872,788.78326Z"
                              transform="translate(-193.14177 -104.63504)" fill="#4d8af0" opacity="0.5" />
                        <path d="M205.43145,541.44483a3.67459,3.67459,0,0,1-2.04749-4.441,1.76611,1.76611,0,0,0,.0799-.40755h0a1.84257,1.84257,0,0,0-3.31045-1.22119h0a1.76637,1.76637,0,0,0-.2039.3618,3.67459,3.67459,0,0,1-4.441,2.04749,1.766,1.766,0,0,0-.40754-.0799h0a1.84257,1.84257,0,0,0-1.22119,3.31044h0a1.7661,1.7661,0,0,0,.3618.2039,3.67459,3.67459,0,0,1,2.04748,4.441,1.76655,1.76655,0,0,0-.0799.40754h0a1.84258,1.84258,0,0,0,3.31045,1.22119h0a1.76564,1.76564,0,0,0,.2039-.3618,3.67461,3.67461,0,0,1,4.441-2.04749,1.766,1.766,0,0,0,.40755.07991h0a1.84257,1.84257,0,0,0,1.22119-3.31045h0A1.7659,1.7659,0,0,0,205.43145,541.44483Z"
                              transform="translate(-193.14177 -104.63504)" fill="#4d8af0" opacity="0.5" />
                        <circle cx="427.39917" cy="82.85347" r="6" fill="#f55f44" opacity="0.5" />
                        <circle cx="96.39917" cy="239.85347" r="6" fill="#4d8af0" opacity="0.5" />
                        <circle cx="807.71645" cy="405.1919" r="6" fill="#47e6b1" opacity="0.5" />
                        <circle cx="23.71645" cy="295.1919" r="6" fill="#f55f44" opacity="0.5" />
                        <g opacity="0.5">
                            <rect x="768.07566" y="410.40534" width="203.96202" height="62.3583"
                                  transform="translate(226.80313 1202.62541) rotate(-89.43704)"
                                  fill="url(#a85ba63f-8549-4f69-990e-10de2daaa97e)" />
                        </g>
                        <rect x="840.92203" y="340.97283" width="59.2915" height="201.23336"
                              transform="translate(-188.76099 -113.16733) rotate(0.56296)" fill="#e0e0e0" />
                        <rect x="850.4174" y="344.21295" width="41.91296" height="41.91296"
                              transform="translate(-189.51181 -113.17894) rotate(0.56296)" fill="#4d8af0" />
                        <rect x="849.92022" y="394.81273" width="41.91296" height="41.91296"
                              transform="translate(-189.01467 -113.17161) rotate(0.56296)" fill="#4d8af0"
                              opacity="0.5" />
                        <rect x="849.42304" y="445.41252" width="41.91296" height="41.91296"
                              transform="translate(-188.51753 -113.16429) rotate(0.56296)" fill="#4d8af0"
                              opacity="0.3" />
                        <g opacity="0.5">
                            <rect x="806.18262" y="355.6832" width="62.3583" height="203.20216"
                                  transform="matrix(0.95222, -0.30542, 0.30542, 0.95222, -292.79516, 172.96553)"
                                  fill="url(#fdf4694c-a3d1-47e0-8113-61d7fbddb30b)" />
                        </g>
                        <rect x="808.20273" y="356.89142" width="59.2915" height="200.47349"
                              transform="translate(-292.72423 173.10672) rotate(-17.78365)" fill="#f5f5f5" />
                        <rect x="793.70235" y="363.74938" width="41.91296" height="41.91296"
                              transform="translate(-271.71283 162.56347) rotate(-17.78365)" fill="#ff5252" />
                        <rect x="809.15746" y="411.93366" width="41.91296" height="41.91296"
                              transform="translate(-285.69095 169.58624) rotate(-17.78365)" fill="#ff5252"
                              opacity="0.5" />
                        <rect x="824.61257" y="460.11794" width="41.91296" height="41.91296"
                              transform="translate(-299.66906 176.609) rotate(-17.78365)" fill="#ff5252"
                              opacity="0.3" />
                        <g opacity="0.5">
                            <rect x="790.82282" y="367.12408" width="62.3583" height="203.20225"
                                  transform="translate(-317.38394 360.54262) rotate(-29.47802)"
                                  fill="url(#ad62446a-526e-4d60-a026-0c607e66ba72)" />
                        </g>
                        <rect x="792.80118" y="368.23689" width="59.2915" height="200.47358"
                              transform="translate(-317.20257 360.72902) rotate(-29.47802)" fill="#f5f5f5" />
                        <rect x="764.0782" y="381.31236" width="41.91296" height="41.91296"
                              transform="translate(-289.46707 333.74826) rotate(-29.47802)" fill="#69f0ae" />
                        <rect x="788.97903" y="425.36385" width="41.91296" height="41.91296"
                              transform="translate(-307.92081 351.70441) rotate(-29.47802)" fill="#69f0ae"
                              opacity="0.5" />
                        <rect x="813.87986" y="469.41535" width="41.91296" height="41.91296"
                              transform="translate(-326.37454 369.66055) rotate(-29.47802)" fill="#69f0ae"
                              opacity="0.3" />
                        <g opacity="0.5">
                            <rect x="781.85881" y="378.78872" width="62.3583" height="203.20226"
                                  transform="translate(-319.10423 476.17065) rotate(-36.68101)"
                                  fill="url(#a55ec3fc-d644-4cb8-8fe1-ec8babf6d4d9)" />
                        </g>
                        <rect x="783.80212" y="379.84772" width="59.2915" height="200.47359"
                              transform="translate(-318.84067 476.35505) rotate(-36.68101)" fill="#fff" />
                        <rect x="747.06553" y="398.14239" width="41.91296" height="41.91296"
                              transform="translate(-291.40584 437.14272) rotate(-36.68101)" fill="#6c63ff" />
                        <rect x="777.29325" y="438.72405" width="41.91296" height="41.91296"
                              transform="translate(-309.66179 463.23577) rotate(-36.68101)" fill="#6c63ff"
                              opacity="0.5" />
                        <rect x="807.52096" y="479.3057" width="41.91296" height="41.91296"
                              transform="translate(-327.91773 489.32881) rotate(-36.68101)" fill="#6c63ff"
                              opacity="0.3" />
                    </svg>
                </div>

                <div class="col-lg-12">
                    <h1 class="text-center">
                        Write important notes in your notebook for review at any time
                    </h1>
                </div>


            </div>



            <div class="col-lg-6">


                <div class="join-us-3">

                    <div class="row">


                        <div class="col-lg-12">
                            <svg width="" height="400" viewBox="0 0 796 575" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g id="graduate 1" clip-path="url(#clip0)">
                                    <path id="line1"
                                          d="M223.924 438.422L207.256 424.383L161.378 481.056L178.046 495.096L223.924 438.422Z"
                                          fill="#F55F44" />
                                    <path id="Vector" opacity="0.05"
                                          d="M185.594 499.617L209.27 505.295L225.762 433.749L202.086 428.071L185.594 499.617Z"
                                          fill="black" />
                                    <path id="line2"
                                          d="M188.228 500.248L209.27 505.295L225.762 433.749L204.719 428.702L188.228 500.248Z"
                                          fill="#F55F44" />
                                    <path id="paper"
                                          d="M46.4457 267.017L17.8404 325.824L443 541L471.605 482.193L46.4457 267.017Z"
                                          fill="url(#paint0_linear)" />
                                    <path id="Vector_2" opacity="0.05"
                                          d="M261.532 386.116L224.418 367.332L192.392 433.171L229.506 451.954L261.532 386.116Z"
                                          fill="black" />
                                    <path id="Vector_3"
                                          d="M259.918 385.299L226.032 368.149L194.006 433.987L227.893 451.138L259.918 385.299Z"
                                          fill="#F55F44" />
                                    <path id="Vector_4" opacity="0.05"
                                          d="M253.464 382.033L230.873 370.599L198.847 436.438L221.438 447.871L253.464 382.033Z"
                                          fill="black" />
                                    <path id="Vector_5"
                                          d="M251.85 381.216L232.486 371.416L200.461 437.254L219.824 447.054L251.85 381.216Z"
                                          fill="#F55F44" />
                                    <path id="Vector_6"
                                          d="M261.306 566.851C262.921 566.851 264.231 565.541 264.231 563.925C264.231 562.309 262.921 560.999 261.306 560.999C259.69 560.999 258.38 562.309 258.38 563.925C258.38 565.541 259.69 566.851 261.306 566.851Z"
                                          fill="#DBDBDB" />
                                    <g id="Group" opacity="0.5">
                                        <path id="Vector_7" opacity="0.5" d="M14.25 504.714H11.1703V522.516H14.25V504.714Z"
                                              fill="#47E6B1" />
                                        <path id="Vector_8" opacity="0.5"
                                              d="M21.436 515.186V512.044H3.98436V515.186H21.436Z" fill="#47E6B1" />
                                    </g>
                                    <g id="Group_2" opacity="0.5">
                                        <path id="Vector_9" opacity="0.5" d="M788.394 270H785.394V287H788.394V270Z"
                                              fill="#47E6B1" />
                                        <path id="Vector_10" opacity="0.5" d="M795.394 280V277H778.394V280H795.394Z"
                                              fill="#47E6B1" />
                                    </g>
                                    <g id="Group_3" opacity="0.5">
                                        <path id="Vector_11" opacity="0.5"
                                              d="M32.7283 61.7804H29.6486V79.5815H32.7283V61.7804Z" fill="#47E6B1" />
                                        <path id="Vector_12" opacity="0.5"
                                              d="M39.9142 72.2516V69.1103H22.4626V72.2516H39.9142Z" fill="#47E6B1" />
                                    </g>
                                    <g id="Group_4" opacity="0.5">
                                        <path id="Vector_13" opacity="0.5" d="M698.394 33H695.394V50H698.394V33Z"
                                              fill="#47E6B1" />
                                        <path id="Vector_14" opacity="0.5" d="M705.394 43V40H688.394V43H705.394Z"
                                              fill="#47E6B1" />
                                    </g>
                                    <path id="Vector_15" opacity="0.5"
                                          d="M169.936 59.1182C169.133 58.7415 168.486 58.0598 168.119 57.203C167.752 56.3462 167.691 55.374 167.947 54.4715C167.988 54.3332 168.014 54.19 168.024 54.0451V54.0451C168.048 53.6316 167.947 53.221 167.737 52.8741C167.526 52.5272 167.218 52.2625 166.857 52.1191C166.496 51.9758 166.102 51.9614 165.733 52.0781C165.364 52.1949 165.039 52.4365 164.808 52.7673V52.7673C164.728 52.8847 164.662 53.0117 164.61 53.1459C164.26 54.0109 163.627 54.7072 162.831 55.1023C162.036 55.4973 161.133 55.5635 160.295 55.2882C160.166 55.2437 160.034 55.2156 159.899 55.2046V55.2046C159.515 55.1794 159.134 55.2881 158.812 55.5145C158.49 55.741 158.244 56.0731 158.111 56.4617C157.978 56.8504 157.964 57.2749 158.073 57.6723C158.181 58.0698 158.405 58.419 158.713 58.6684V58.6684C158.821 58.7542 158.939 58.8258 159.064 58.8818C159.867 59.2585 160.514 59.9402 160.881 60.797C161.247 61.6539 161.309 62.626 161.053 63.5285C161.012 63.6668 160.986 63.81 160.976 63.9549V63.9549C160.952 64.3684 161.053 64.779 161.263 65.1259C161.474 65.4728 161.782 65.7375 162.143 65.8809C162.504 66.0242 162.898 66.0386 163.267 65.9219C163.636 65.8051 163.961 65.5634 164.192 65.2327C164.272 65.1153 164.338 64.9883 164.39 64.8541C164.74 63.9891 165.373 63.2928 166.169 62.8977C166.964 62.5027 167.867 62.4365 168.705 62.7118C168.834 62.7563 168.966 62.7844 169.101 62.7954V62.7954C169.485 62.8206 169.866 62.7119 170.188 62.4855C170.51 62.259 170.756 61.9269 170.889 61.5383C171.022 61.1496 171.036 60.7251 170.927 60.3277C170.819 59.9302 170.595 59.5809 170.287 59.3316V59.3316C170.179 59.2458 170.061 59.1742 169.936 59.1182V59.1182Z"
                                          fill="#4D8AF0" />
                                    <path id="Vector_16" opacity="0.5"
                                          d="M394.29 567.456C393.463 567.096 392.797 566.445 392.42 565.626C392.042 564.807 391.979 563.878 392.242 563.015C392.285 562.883 392.312 562.746 392.322 562.608V562.608C392.346 562.213 392.242 561.82 392.026 561.489C391.809 561.157 391.492 560.904 391.121 560.767C390.749 560.63 390.343 560.616 389.964 560.728C389.584 560.839 389.25 561.07 389.012 561.387C388.93 561.499 388.861 561.62 388.808 561.748C388.448 562.575 387.796 563.241 386.977 563.618C386.158 563.996 385.229 564.059 384.367 563.796C384.234 563.753 384.098 563.726 383.959 563.716V563.716C383.564 563.692 383.172 563.796 382.84 564.012C382.509 564.229 382.256 564.546 382.119 564.917C381.982 565.289 381.968 565.695 382.079 566.074C382.191 566.454 382.422 566.788 382.738 567.026C382.85 567.108 382.972 567.177 383.1 567.23C383.927 567.59 384.592 568.242 384.97 569.061C385.347 569.88 385.41 570.809 385.147 571.671C385.105 571.803 385.078 571.94 385.067 572.079V572.079C385.043 572.474 385.147 572.866 385.364 573.198C385.58 573.529 385.897 573.782 386.269 573.919C386.64 574.056 387.046 574.07 387.426 573.959C387.806 573.847 388.139 573.616 388.378 573.3V573.3C388.46 573.188 388.528 573.066 388.582 572.938C388.942 572.111 389.593 571.446 390.412 571.068C391.231 570.691 392.16 570.628 393.023 570.891C393.155 570.933 393.292 570.96 393.43 570.971V570.971C393.825 570.995 394.218 570.891 394.549 570.674C394.881 570.458 395.134 570.141 395.271 569.769C395.408 569.398 395.422 568.992 395.31 568.612C395.199 568.232 394.968 567.898 394.651 567.66V567.66C394.539 567.578 394.418 567.51 394.29 567.456V567.456Z"
                                          fill="#4D8AF0" />
                                    <path id="Vector_17" opacity="0.5"
                                          d="M759.394 450C762.708 450 765.394 447.314 765.394 444C765.394 440.686 762.708 438 759.394 438C756.081 438 753.394 440.686 753.394 444C753.394 447.314 756.081 450 759.394 450Z"
                                          fill="#F55F44" />
                                    <path id="Vector_18" opacity="0.5"
                                          d="M625 511C628.314 511 631 508.09 631 504.5C631 500.91 628.314 498 625 498C621.686 498 619 500.91 619 504.5C619 508.09 621.686 511 625 511Z"
                                          fill="#4D8AF0" />
                                    <path id="Vector_19" opacity="0.5"
                                          d="M103.394 547C106.708 547 109.394 544.314 109.394 541C109.394 537.686 106.708 535 103.394 535C100.081 535 97.3943 537.686 97.3943 541C97.3943 544.314 100.081 547 103.394 547Z"
                                          fill="#47E6B1" />
                                    <path id="Vector_20" opacity="0.5"
                                          d="M403 13C406.314 13 409 10.0899 409 6.5C409 2.91015 406.314 0 403 0C399.686 0 397 2.91015 397 6.5C397 10.0899 399.686 13 403 13Z"
                                          fill="#F55F44" />
                                    <path id="Vector_21"
                                          d="M191.638 374.695L167 412.337C167 412.337 175.213 451.025 356.92 449.979C538.628 448.934 553 412.337 553 412.337L519.122 362.147L415.436 290L191.638 374.695Z"
                                          fill="#6C63FF" />
                                    <path id="Vector_22" opacity="0.15"
                                          d="M191.638 374.695L167 412.337C167 412.337 175.213 451.025 356.92 449.979C538.628 448.934 553 412.337 553 412.337L519.122 362.147L415.436 290L191.638 374.695Z"
                                          fill="black" />
                                    <path id="Vector_23"
                                          d="M715 234.492L391.888 380L-2 234.492L359.064 67L536.304 150.4L542.653 153.394L715 234.492Z"
                                          fill="#6C63FF" />
                                    <path id="topOfHat" opacity="0.15"
                                          d="M715 234.492L391.888 380L-2 234.492L359.064 67L536.304 150.4L542.653 153.394L715 234.492Z"
                                          fill="black" />
                                    <path id="Vector_24" d="M550 269.621L543.863 270L537 150L543.331 153.01L550 269.621Z"
                                          fill="#F5F5F5" />
                                    <path id="Vector_25"
                                          d="M195.745 234.292L167 412C167 412 373.346 344.053 553 412L526.309 223.838C526.309 223.838 285.059 193.524 195.745 234.292Z"
                                          fill="#6C63FF" />
                                    <path id="Vector_26"
                                          d="M549 306C565.569 306 579 296.598 579 285C579 273.402 565.569 264 549 264C532.431 264 519 273.402 519 285C519 296.598 532.431 306 549 306Z"
                                          fill="#F5F5F5" />
                                </g>
                                <defs>
                                    <linearGradient id="paint0_linear" x1="230.42" y1="433.412" x2="259.947" y2="375.071"
                                                    gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#808080" stop-opacity="0.25" />
                                        <stop offset="0.53514" stop-color="#808080" stop-opacity="0.12" />
                                        <stop offset="1" stop-color="#808080" stop-opacity="0.1" />
                                    </linearGradient>
                                    <clipPath id="clip0">
                                        <rect width="795.394" height="574.038" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>

                        </div>

                        <div class="col-lg-12">
                            <h1>
                                Share with us your evaluation and opinions about the content of the courses
                            </h1>

                        </div>


                    </div>

                </div>

            </div>

        </div>


    </div>

</div>




@*<div class="Comments">
        <div class="container-fluid">
            <h2 class=" text-center"> From Our Community </h2>

            <div class="row text-center">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <p class="User-Comment">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed
                                tempore quos doloribus hic quibusdam officia mollitia dolorem, iusto possimus
                                repudiandae reprehenderit, voluptatum porro? Inventore unde iure praesentium,
                                quaerat distinctio minus?
                            </p>
                            <img class="User-Pic" src="pics/avatar-icon-images-4.jpg">
                            <p> User Name </p>
                        </div>
                        <div class="carousel-item">
                            <p class="User-Comment">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed
                                tempore quos doloribus hic quibusdam officia mollitia dolorem, iusto possimus
                                repudiandae reprehenderit, voluptatum porro? Inventore unde iure praesentium,
                                quaerat distinctio minus?
                            </p>
                            <img class="User-Pic" src="pics/avatar-icon-images-4.jpg">
                            <p> User Name </p>
                        </div>

                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                       data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                       data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>*@

@*
    //////////////////////////////
    //////////////////////////////
    //////////////////////////////
    //////////////////////////////
    //////////////////////////////
*@

@*<div class="Best-Courses">
        <div class="container-fluid">
            <h2 class="text-center">Recommended Courses</h2>
        </div>


        <div class="container2">


            @if (db.CourseModels.Count() == 0)
            {
                <h3 class="alert alert-warning"> Ops! No Courses available Until Now! </h3>
            }
            else
            {

                <ul id="autoWidth" class="cs-hidden">
                    @foreach (var item in db.CourseModels)
                    {
                        <li class="item-a">

                            <div class="box">
                                <p class="marvel">@item.CourseName</p>

                                <img src="~/Content/CourseLogos/@item.CourseLogo" class="model">

                                <div class="details">


                                    <p>
                                        @item.AboutTheCourse
                                    </p>
                                </div>

                            </div>
                        </li>
                    }
                </ul>
            }


        </div>
    </div>*@


@*<div class="join-us-3">
        <div class="container">
            <div class="row">

                <div class="col-lg-6">
                    <h1>
                        Share with us your evaluation and opinions about the content of the courses
                    </h1>

                </div>

                <div class="col-lg-6">
                    <svg width="" height="400" viewBox="0 0 796 575" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="graduate 1" clip-path="url(#clip0)">
                            <path id="line1"
                                  d="M223.924 438.422L207.256 424.383L161.378 481.056L178.046 495.096L223.924 438.422Z"
                                  fill="#F55F44" />
                            <path id="Vector" opacity="0.05"
                                  d="M185.594 499.617L209.27 505.295L225.762 433.749L202.086 428.071L185.594 499.617Z"
                                  fill="black" />
                            <path id="line2"
                                  d="M188.228 500.248L209.27 505.295L225.762 433.749L204.719 428.702L188.228 500.248Z"
                                  fill="#F55F44" />
                            <path id="paper"
                                  d="M46.4457 267.017L17.8404 325.824L443 541L471.605 482.193L46.4457 267.017Z"
                                  fill="url(#paint0_linear)" />
                            <path id="Vector_2" opacity="0.05"
                                  d="M261.532 386.116L224.418 367.332L192.392 433.171L229.506 451.954L261.532 386.116Z"
                                  fill="black" />
                            <path id="Vector_3"
                                  d="M259.918 385.299L226.032 368.149L194.006 433.987L227.893 451.138L259.918 385.299Z"
                                  fill="#F55F44" />
                            <path id="Vector_4" opacity="0.05"
                                  d="M253.464 382.033L230.873 370.599L198.847 436.438L221.438 447.871L253.464 382.033Z"
                                  fill="black" />
                            <path id="Vector_5"
                                  d="M251.85 381.216L232.486 371.416L200.461 437.254L219.824 447.054L251.85 381.216Z"
                                  fill="#F55F44" />
                            <path id="Vector_6"
                                  d="M261.306 566.851C262.921 566.851 264.231 565.541 264.231 563.925C264.231 562.309 262.921 560.999 261.306 560.999C259.69 560.999 258.38 562.309 258.38 563.925C258.38 565.541 259.69 566.851 261.306 566.851Z"
                                  fill="#DBDBDB" />
                            <g id="Group" opacity="0.5">
                                <path id="Vector_7" opacity="0.5" d="M14.25 504.714H11.1703V522.516H14.25V504.714Z"
                                      fill="#47E6B1" />
                                <path id="Vector_8" opacity="0.5"
                                      d="M21.436 515.186V512.044H3.98436V515.186H21.436Z" fill="#47E6B1" />
                            </g>
                            <g id="Group_2" opacity="0.5">
                                <path id="Vector_9" opacity="0.5" d="M788.394 270H785.394V287H788.394V270Z"
                                      fill="#47E6B1" />
                                <path id="Vector_10" opacity="0.5" d="M795.394 280V277H778.394V280H795.394Z"
                                      fill="#47E6B1" />
                            </g>
                            <g id="Group_3" opacity="0.5">
                                <path id="Vector_11" opacity="0.5"
                                      d="M32.7283 61.7804H29.6486V79.5815H32.7283V61.7804Z" fill="#47E6B1" />
                                <path id="Vector_12" opacity="0.5"
                                      d="M39.9142 72.2516V69.1103H22.4626V72.2516H39.9142Z" fill="#47E6B1" />
                            </g>
                            <g id="Group_4" opacity="0.5">
                                <path id="Vector_13" opacity="0.5" d="M698.394 33H695.394V50H698.394V33Z"
                                      fill="#47E6B1" />
                                <path id="Vector_14" opacity="0.5" d="M705.394 43V40H688.394V43H705.394Z"
                                      fill="#47E6B1" />
                            </g>
                            <path id="Vector_15" opacity="0.5"
                                  d="M169.936 59.1182C169.133 58.7415 168.486 58.0598 168.119 57.203C167.752 56.3462 167.691 55.374 167.947 54.4715C167.988 54.3332 168.014 54.19 168.024 54.0451V54.0451C168.048 53.6316 167.947 53.221 167.737 52.8741C167.526 52.5272 167.218 52.2625 166.857 52.1191C166.496 51.9758 166.102 51.9614 165.733 52.0781C165.364 52.1949 165.039 52.4365 164.808 52.7673V52.7673C164.728 52.8847 164.662 53.0117 164.61 53.1459C164.26 54.0109 163.627 54.7072 162.831 55.1023C162.036 55.4973 161.133 55.5635 160.295 55.2882C160.166 55.2437 160.034 55.2156 159.899 55.2046V55.2046C159.515 55.1794 159.134 55.2881 158.812 55.5145C158.49 55.741 158.244 56.0731 158.111 56.4617C157.978 56.8504 157.964 57.2749 158.073 57.6723C158.181 58.0698 158.405 58.419 158.713 58.6684V58.6684C158.821 58.7542 158.939 58.8258 159.064 58.8818C159.867 59.2585 160.514 59.9402 160.881 60.797C161.247 61.6539 161.309 62.626 161.053 63.5285C161.012 63.6668 160.986 63.81 160.976 63.9549V63.9549C160.952 64.3684 161.053 64.779 161.263 65.1259C161.474 65.4728 161.782 65.7375 162.143 65.8809C162.504 66.0242 162.898 66.0386 163.267 65.9219C163.636 65.8051 163.961 65.5634 164.192 65.2327C164.272 65.1153 164.338 64.9883 164.39 64.8541C164.74 63.9891 165.373 63.2928 166.169 62.8977C166.964 62.5027 167.867 62.4365 168.705 62.7118C168.834 62.7563 168.966 62.7844 169.101 62.7954V62.7954C169.485 62.8206 169.866 62.7119 170.188 62.4855C170.51 62.259 170.756 61.9269 170.889 61.5383C171.022 61.1496 171.036 60.7251 170.927 60.3277C170.819 59.9302 170.595 59.5809 170.287 59.3316V59.3316C170.179 59.2458 170.061 59.1742 169.936 59.1182V59.1182Z"
                                  fill="#4D8AF0" />
                            <path id="Vector_16" opacity="0.5"
                                  d="M394.29 567.456C393.463 567.096 392.797 566.445 392.42 565.626C392.042 564.807 391.979 563.878 392.242 563.015C392.285 562.883 392.312 562.746 392.322 562.608V562.608C392.346 562.213 392.242 561.82 392.026 561.489C391.809 561.157 391.492 560.904 391.121 560.767C390.749 560.63 390.343 560.616 389.964 560.728C389.584 560.839 389.25 561.07 389.012 561.387C388.93 561.499 388.861 561.62 388.808 561.748C388.448 562.575 387.796 563.241 386.977 563.618C386.158 563.996 385.229 564.059 384.367 563.796C384.234 563.753 384.098 563.726 383.959 563.716V563.716C383.564 563.692 383.172 563.796 382.84 564.012C382.509 564.229 382.256 564.546 382.119 564.917C381.982 565.289 381.968 565.695 382.079 566.074C382.191 566.454 382.422 566.788 382.738 567.026C382.85 567.108 382.972 567.177 383.1 567.23C383.927 567.59 384.592 568.242 384.97 569.061C385.347 569.88 385.41 570.809 385.147 571.671C385.105 571.803 385.078 571.94 385.067 572.079V572.079C385.043 572.474 385.147 572.866 385.364 573.198C385.58 573.529 385.897 573.782 386.269 573.919C386.64 574.056 387.046 574.07 387.426 573.959C387.806 573.847 388.139 573.616 388.378 573.3V573.3C388.46 573.188 388.528 573.066 388.582 572.938C388.942 572.111 389.593 571.446 390.412 571.068C391.231 570.691 392.16 570.628 393.023 570.891C393.155 570.933 393.292 570.96 393.43 570.971V570.971C393.825 570.995 394.218 570.891 394.549 570.674C394.881 570.458 395.134 570.141 395.271 569.769C395.408 569.398 395.422 568.992 395.31 568.612C395.199 568.232 394.968 567.898 394.651 567.66V567.66C394.539 567.578 394.418 567.51 394.29 567.456V567.456Z"
                                  fill="#4D8AF0" />
                            <path id="Vector_17" opacity="0.5"
                                  d="M759.394 450C762.708 450 765.394 447.314 765.394 444C765.394 440.686 762.708 438 759.394 438C756.081 438 753.394 440.686 753.394 444C753.394 447.314 756.081 450 759.394 450Z"
                                  fill="#F55F44" />
                            <path id="Vector_18" opacity="0.5"
                                  d="M625 511C628.314 511 631 508.09 631 504.5C631 500.91 628.314 498 625 498C621.686 498 619 500.91 619 504.5C619 508.09 621.686 511 625 511Z"
                                  fill="#4D8AF0" />
                            <path id="Vector_19" opacity="0.5"
                                  d="M103.394 547C106.708 547 109.394 544.314 109.394 541C109.394 537.686 106.708 535 103.394 535C100.081 535 97.3943 537.686 97.3943 541C97.3943 544.314 100.081 547 103.394 547Z"
                                  fill="#47E6B1" />
                            <path id="Vector_20" opacity="0.5"
                                  d="M403 13C406.314 13 409 10.0899 409 6.5C409 2.91015 406.314 0 403 0C399.686 0 397 2.91015 397 6.5C397 10.0899 399.686 13 403 13Z"
                                  fill="#F55F44" />
                            <path id="Vector_21"
                                  d="M191.638 374.695L167 412.337C167 412.337 175.213 451.025 356.92 449.979C538.628 448.934 553 412.337 553 412.337L519.122 362.147L415.436 290L191.638 374.695Z"
                                  fill="#6C63FF" />
                            <path id="Vector_22" opacity="0.15"
                                  d="M191.638 374.695L167 412.337C167 412.337 175.213 451.025 356.92 449.979C538.628 448.934 553 412.337 553 412.337L519.122 362.147L415.436 290L191.638 374.695Z"
                                  fill="black" />
                            <path id="Vector_23"
                                  d="M715 234.492L391.888 380L-2 234.492L359.064 67L536.304 150.4L542.653 153.394L715 234.492Z"
                                  fill="#6C63FF" />
                            <path id="topOfHat" opacity="0.15"
                                  d="M715 234.492L391.888 380L-2 234.492L359.064 67L536.304 150.4L542.653 153.394L715 234.492Z"
                                  fill="black" />
                            <path id="Vector_24" d="M550 269.621L543.863 270L537 150L543.331 153.01L550 269.621Z"
                                  fill="#F5F5F5" />
                            <path id="Vector_25"
                                  d="M195.745 234.292L167 412C167 412 373.346 344.053 553 412L526.309 223.838C526.309 223.838 285.059 193.524 195.745 234.292Z"
                                  fill="#6C63FF" />
                            <path id="Vector_26"
                                  d="M549 306C565.569 306 579 296.598 579 285C579 273.402 565.569 264 549 264C532.431 264 519 273.402 519 285C519 296.598 532.431 306 549 306Z"
                                  fill="#F5F5F5" />
                        </g>
                        <defs>
                            <linearGradient id="paint0_linear" x1="230.42" y1="433.412" x2="259.947" y2="375.071"
                                            gradientUnits="userSpaceOnUse">
                                <stop stop-color="#808080" stop-opacity="0.25" />
                                <stop offset="0.53514" stop-color="#808080" stop-opacity="0.12" />
                                <stop offset="1" stop-color="#808080" stop-opacity="0.1" />
                            </linearGradient>
                            <clipPath id="clip0">
                                <rect width="795.394" height="574.038" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>

                </div>
            </div>
        </div>
    </div>*@

@section Scripts {
    @Scripts.Render("~/Scripts/SliderScripts")
}
@*<script>
    $(function () {
        $(".Layout_Chat_Fixed_Div").slideUp(0);
        $(".Layout_Chat_Btn").on("click", function () {
            $(".Layout_Chat_Fixed_Div").slideToggle(500);
        })
        
    })
</script>*@