@model IEnumerable<DistanceLearning.Models.CourseModel>

@{
    ViewBag.Title = "Search";
    @Styles.Render("~/Content/SliderStyles")
}



<div class="container">
    <form action="~/Home/Search" method="post" class="form-inline my-2 my-lg-0">
        <input class="form-control w-100 mt-3" name="Title" type="search" placeholder="Search"
               aria-label="Search">
        <button class="btn btn-info btn-block mt-3 mb-3" type="submit">Search</button>
    </form>
</div>



<div class="Best-Courses">
    <div class="container2">


        @if (Model.Count() == 0)
        {
            <h3 class="alert alert-warning"> Ops! No Courses available with this name! </h3>
        }
        else
        {

            <ul id="autoWidth" class="cs-hidden">
                @foreach (var item in Model)
                {
                    <li class="item-a">

                        <div class="box">
                            <p class="marvel">@item.CourseName</p>

                            <img src="~/Content/CourseLogos/@item.CourseLogo" class="model">

                            <div class="details">

                                <p>
                                    @item.MainPublisher.UserName

                                    @Html.Raw(HttpUtility.HtmlDecode(item.AboutTheCourse.ToString()))
                                </p>
                                <a class="btn btn-block btn-primary" href="@Url.Action("Details/"+@item.Id,"CourseModels")">Go</a>
                            </div>

                        </div>
                    </li>
                }
            </ul>
        }



    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/SliderScripts")
}








@*<h2>Search</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AboutTheCourse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DemoAboutTheCourse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseLogo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AboutTheCourse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DemoAboutTheCourse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseLogo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }

    </table>*@
