@model DistanceLearning.Models.CourseModel
@using DistanceLearning.Models;
@{
    ApplicationDbContext db = new ApplicationDbContext();
    ViewBag.Title = "Create";
}
<div class="container">
    <h2 class="CourseTitle">Share a New Course</h2>
    <hr />

    @using (Html.BeginForm("Create", "CourseModels", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.CategoryId)



            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.CourseName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CourseName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CourseName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.AboutTheCourse, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <textarea name="AboutTheCourse" id="AboutTheCourse"></textarea>
                    @Html.ValidationMessageFor(model => model.AboutTheCourse, "", new { @class = "text-danger" })
                </div>
            </div>


            @*
                        <div class="form-group">
                            @Html.LabelFor(model => model.Paths, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Paths, new { htmlAttributes = new { @class = "form-control" } })
                    <input type="text" name="NewPath" />

                    @Html.ValidationMessageFor(model => model.Paths, "", new { @class = "text-danger" })
                </div>
                    </div>
            *@


            @*@Html.DropDownList("Categories", null, new { @class = "UserTypeList " })*@



            @*<select name="CategoryName">
                @foreach (var item in db.Categories)
                {
                    <option value="@item.Name">@item.Name</option>
                }
            </select>*@

            <div class="form-group">
                @Html.LabelFor(model => model.CourseLogo, htmlAttributes: new { @class = "control-label col-md-2" })
                <input type="file" name="CourseLogo" />
                @Html.ValidationMessageFor(model => model.CourseLogo, "", new { @class = "text-danger" })
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.DemoAboutTheCourse, htmlAttributes: new { @class = "control-label col-md-2" })
                <input type="file" name="CourseDemo" />
                @Html.ValidationMessageFor(model => model.DemoAboutTheCourse, "", new { @class = "text-danger" })
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Share" class="btn btn-primary btn-block w-100 mb-3" />
                </div>
            </div>

    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>


<script src="~/Content/ckeditor/ckeditor.js"></script>

<script>

    CKEDITOR.replace("AboutTheCourse");

</script>